@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

html {
    font-size: 62.5%;
}

body {
    color: #fff;
    background-color: #111;
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    background-image: url("/assets/img/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

h1 {
    font-size: 5rem;
    line-height: 1.75;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
}

/* Removes black boxes from behind letters */
i {
    font-size: 4rem;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.collapsing {
    transition: 0ms;
}

.btn {
    margin: 1rem auto;
    color: #111;
}

.navbar {
    background-color: #111;
}

.navbar-toggler i {
    color: #4381C1;
}

.navbar-brand {
    font-size: 4rem;
    color: #4381C1;
    letter-spacing: -0.1rem;
}

.navbar-nav {
    font-size: 3rem;
}

.nav-link {
    margin-right: 5rem;
    color: #4381C1;
}

.common-styles {
    margin: 3rem auto;
    text-align: center;
}

.scoreHighlight {
    background-color: #db222a;
    border-radius: 1rem;
}

.HUD-btn {
    background-color: #4381C1;
    font-size: 4rem;
    border: 0.5rem solid #111;
    border-radius: 0.5rem;
}

.option-container {
    font-size: 2rem;
    background-color: #111;
    margin: 2rem auto;
    border-radius: 1rem;
}

.option-text {
    font-size: 4rem;
    background-color: #4381C1;
}

.option-text:hover {
    background-color: #438cff;
    transition: 1000ms;
}

.correct {
    background-color: #71B340;
}

.incorrect {
    background-color: #db222a;
}

.friends-msg {
    background-color: #111;
    border-radius: 0.5rem;
    margin-top: 2rem;
    padding: 2rem;
    color: #fff;
}

#intro-title {
    background-color: #db222a;
    border-radius: 0.5rem;
    margin-top: 2rem;
    padding: 2rem;
}

#tutorial {
    background-color: #111;
    border-radius: 0.5rem;
    margin-top: 2rem;
    padding: 2rem;
}

#question {
    background-color: #db222a;
    border-radius: 0.5rem;
    padding: 4rem;
    font-size: 3rem;
}

#highscore-btn {
    background-color: #71B340;
}

#progressBar {
    width: 40rem;
    height: 4rem;
    border: 0.5rem solid #4381C1;
    margin: 2rem auto;
    padding: 0;
}

#progressBarFull {
    height: 3rem;
    background-color: #4381C1;
}


#social-network-links i {
    font-size: 5rem;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 2rem;
    color: #fff;
}

#username {
    height: 6.5rem;
    border-radius: 0.3rem;
    text-align: center;
}

#saveScoreBtn {
    background-color: #71B340;
    padding-bottom: 0;
}

#footer-section {
    position: relative;
    bottom: 0;
    width: 100%;
}

#highscore-container {
    background-color: #111;
}