@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    
}

html {
    font-size: 62.5%;
}

body {
    color: #fff;
    background-color: #111111;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

p {
    font-size: 3rem;
}

/* Removes black boxes from behind letters */
i {
    font-size: 4rem;
}

.collapsing {
    transition: 0ms;
}

.btn {
    margin: 1rem auto;
}

.common-styles {
    margin: 3rem auto;
    background-color: transparent;
    text-align: center;
}

.letsplay-reset-btn {
    background-color: #4381C1;
}

.option-container {
    font-size: 2rem;
    border: 0.1rem solid #db222a;
    background-color: #fff;
  }

.option-text {
    font-size: 4rem;
    background-color: #4381C1;
}
  

#highscore-btn {
    background-color: #71B340;
}


#optionText {
    background-color: #db222a;
}

#progressBar {
    width: 40rem;
    height: 4rem;
    border: 0.3rem solid #4381C1;
    margin-top: 1.5rem;
  }
  
  #progressBarFull {
    height: 3.4rem;
    background-color: #4381C1;
    width: 0%;
  }


#social-network-links i{
    font-size: 7.5rem;
    text-align: center;
}