@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    
}

html {
    font-size: 62.5%;
}

body {
    color: #fff;
    background-color: #111111;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

p {
    font-size: 3rem;
}

/* Removes black boxes from behind letters */
i {
    font-size: 4rem;
}


.btn {
    margin: 1rem auto;
}

.common-styles {
    margin: 3rem auto;
    background-color: transparent;
    text-align: center;
}


/* Hiding the intro section */
.hidden {
    display: none;
}

.letsplay-reset-btn {
    background-color: #4381C1;
}

#highscore-btn {
    background-color: #71B340;
}


#optionText {
    background-color: #db222a;
}


#social-network-links i{
    font-size: 7.5rem;
    text-align: center;
}