@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    background-color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 5rem;
    color: #fff;
    margin-bottom: 4rem;

}

h2 {
    font-size: 4rem;
    color: #fff;
    margin-bottom: 4rem;
}