@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-size: 62.5%;
    font-family: 'Roboto Mono', monospace;
    background-color: black;
}

h1 {
    font-size: 5rem;
    color: white;
    margin: 3rem auto;
    text-align: center;
    background-color: transparent;
}

h2 {
    font-size: 4rem;
    color: white;
    margin: 3rem auto;
    text-align: center;
    background-color: transparent;
}

p {
    font-size: 3rem;
    color: white;
    margin: 3rem auto;
    background-color: transparent;
}

i {
    font-size: 4rem;
    background-color: transparent;
}

.row {
    margin-left: auto;
}
.social-networks{
    font-size: 20rem;
    text-align: center;
}


